body {
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.set-card {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0px 6px rgb(0, 0, 0);
    width: 100%;
    max-width: 400px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    transition: box-shadow 0.3s, border-color 0.3s;
    overflow: hidden;
}